<div class="header lazyload-left">
    <img class="header-img" alt="Clément Rocolle - Développeur Web" src="{{ asset('build/img/header/clement_colored.png') }}">
    <p class="header-name">{{ 'header.name'|trans }}</p>
    <h1 class="header-title">{{ 'header.title'|trans }}</h1>
    <div class="header-education">
        <div class="diploma">
            <a class="diploma-school" href="https://www.epitech.eu/" target="_blank">
                <img class="diploma-school-image" src="{{ asset('build/img/header/diploma/epitech-white.png') }}" alt="Epitech" title="Epitech">
            </a>
            <div class="diploma-info">
                <h3 class="diploma-info-lvl">MASTER +5</h3>
                <h4 class="diploma-info-title">Architecte de systeme d'informations</h4>
                <p class="diploma-info-date">2024 - </p>
            </div>
        </div>
        <div class="diploma">
            <a class="diploma-school" href="https://www.studi.com/fr" target="_blank">
                <img class="diploma-school-image" src="{{ asset('build/img/header/diploma/studi-white.png') }}" alt="Studi" title="Studi">
            </a>
            <div class="diploma-info">
                <h3 class="diploma-info-lvl">BACHELOR +3</h3>
                <h4 class="diploma-info-title">Developpeur d'applications Python</h4>
                <p class="diploma-info-date">2022 - 2023</p>
            </div>
        </div>
        <div class="diploma">
            <a class="diploma-school" href="https://www.studio-m.fr/" target="_blank">
                <img class="diploma-school-image" src="{{ asset('build/img/header/diploma/studio-m-white.png') }}" alt="Studio-M" title="Studio-M">
            </a>
            <div class="diploma-info">
                <h3 class="diploma-info-lvl">DUT +2</h3>
                <h4 class="diploma-info-title">Ingenieur du son</h4>
                <p class="diploma-info-date">2014 - 2016</p>
            </div>
        </div>
    </div>
    <div class="header-social">
        <a href="{{ 'header.linkedin'|trans }}" target="_blank">
            <img class="header-social-img" src="{{ asset('build/img/logos/linkedin_black.png') }}" alt="Linkedin">
        </a>
        <a href="{{ 'header.github'|trans }}" target="_blank">
            <img class="header-social-img" src="{{ asset('build/img/logos/github.png') }}" alt="GitHub">
        </a>
        <a href="mailto:{{ 'header.mail'|trans }}">
            <img class="header-social-img" src="{{ asset('build/img/logos/mail.png') }}" alt="Email">
        </a>
    </div>
</div>