<div class="header lazyload-left">
    <img class="header-img" alt="Clément Rocolle - Développeur Web" src="{{ asset('build/img/header/clement_colored.png') }}">
    <h1 class="header-title">Clement Rocolle</h1>
    <p class="header-presentation">{{ 'header.presentation'|trans }}</p>
    <div class="header-social">
        <a href="{{ 'header.linkedin'|trans }}" target="_blank">
            <img class="header-social-img" src="{{ asset('build/img/logos/linkedin_black.png') }}" alt="Linkedin">
            
        </a>
        <a href="{{ 'header.instagram'|trans }}" target="_blank">
            <img class="header-social-img" src="{{ asset('build/img/logos/instagram_black.png') }}" alt="Instagram">
        </a>
        <a href="{{ 'header.github'|trans }}" target="_blank">
            <img class="header-social-img" src="{{ asset('build/img/logos/github.png') }}" alt="GitHub">
        </a>
    </div>
</div>