{% macro block(image, date, title, society, societyLink, presentation, tags) %}
<div class="block">
    <div class="block-img-container">
        <img class="block-img" src="{{ image.url }}" alt="{{ society }}">
    </div>
    <div class="block-info">
        <p class="block-info-title"><strong>{{ title }}</strong></p>
        <p class="block-info-society">{{ society }} - <a class="block-info-society" href="https://{{ societyLink }}/" target="_blank">{{ societyLink }}</a></p>
        <p class="block-date">{{ date }}</p>
        <hr>
        <p class="block-info-presentation">{{ (presentation|raw)|nl2br }}</p>
        <div class="block-info-tags">
        {% for tag in tags %}
            <div class="tag">
                <p class="tag-text">{{ tag }}</p>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endmacro %}